@import '@food/ui/styles.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-bg-default);
  font-family: var(--font-body);
  color: var(--color-text-dark-1);
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}
