.page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-4);
}

.question {
  margin: 0;
  color: var(--color-text-dark-1);
}

.hint {
  margin: 0;
  color: var(--color-text-dark-2);
}

.action {
  padding: var(--space-0) var(--space-4) var(--space-6);
}
