.page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-4);
  padding: var(--space-6) var(--space-4);
  text-align: center;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  align-self: center;
  border-radius: var(--radius-full);
  background: var(--color-accent-success-bg);
  color: var(--color-accent-success);
}

.title {
  margin: 0;
  color: var(--color-text-dark-1);
}

.text {
  margin: 0;
  color: var(--color-text-dark-2);
}
